@{
    ViewBag.Title = "Phân quyên bộ môn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model ProjectNews.Areas.Admin.Models.ModelRoleFunction
<section class="content-header">
    <h1 class="title text-uppercase text-bold">@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li><a href="/Admin/ThanhVien">Quản lý thành viên</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                @using (Html.BeginForm())
                {
                    <div class="box-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.HiddenFor(x => x.UserName)
                        @Html.HiddenFor(x => x.IdCalendar)
                        @Html.HiddenFor(x => x.IdDocument)
                        @Html.HiddenFor(x => x.IdMedia)
                        @Html.HiddenFor(x => x.IdNews)
                        @Html.HiddenFor(x => x.IdTrained)
                        <div class="form-group">
                            Bộ môn: <b>@Html.Raw(Model.UserName)</b>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Chức năng</th>
                                        <th>Quyền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="center">1</td>
                                        <td>Tin tức</td>
                                        <td>
                                            <div class="col-md-3">
                                                @Html.Label("Thêm mới", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionAddNews)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Sửa", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionEditNews)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Xóa", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionDeleteNews)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Thêm không cần duyệt", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionAdminNews)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">2</td>
                                        <td>Lịch công tác</td>
                                        <td>
                                            <div class="col-md-3">
                                                @Html.Label("Thêm mới", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionAddCalendar)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Sửa", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionEditCalendar)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Xóa", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionDeleteCalendar)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Thêm không cần duyệt", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionAdminCalendar)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">3</td>
                                        <td>Đào tạo</td>
                                        <td>
                                            <div class="col-md-3">
                                                @Html.Label("Thêm mới", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionAddTrained)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Sửa", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionEditTrained)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Xóa", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionDeleteTrained)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Thêm không cần duyệt", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionAdminTrained)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">4</td>
                                        <td>Văn bản</td>
                                        <td>
                                            <div class="col-md-3">
                                                @Html.Label("Thêm mới", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionAddDocument)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Sửa", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionEditDocument)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Xóa", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionDeleteDocument)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Thêm không cần duyệt", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionAdminDocument)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">5</td>
                                        <td>Media</td>
                                        <td>
                                            <div class="col-md-3">
                                                @Html.Label("Thêm mới", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionAddMedia)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Sửa", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionEditMedia)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Xóa", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionDeleteMedia)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Thêm không cần duyệt", new { @class = "control-lable" })
                                                @Html.CheckBoxFor(x => x.FunctionAdminMedia)
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("Bộ môn lịc công tác", new { @class = "control-lable" })
                                    @Html.DropDownListFor(x => x.ChuyenMucDonViId, null, "---Chọn bộ môn---", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ChuyenMucDonViId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-2 text-right">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lưu dữ liệu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

