@{
    int count = 0;
}
@model IEnumerable<ServiceNews.Models.Content>
@if (Model != null && Model.Count() > 0)
{
    <div class="box-body">
        <div id="slider-media" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (var item in Model)
                {
                    count++;
                    if (count == 1)
                    {
                        <div class="item active">
                            <a href="@item.contentAlias" title="@item.contentName">
                                <img src="@item.contentThumbnail" alt="@item.contentName">
                            </a>
                            <div class="title">
                                <a href="@item.contentAlias" title="@item.contentName">
                                    @if (item.contentName.Length > 70)
                                    {
                                        @Html.Raw(item.contentName.Substring(0, 70) + "...")
                                    }
                                    else
                                    {
                                        @Html.Raw(item.contentName)
                                    }
                                </a>
                            </div>
                            <div class="decs">
                                @Html.Raw(item.contentDescription)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <a href="@item.contentAlias" title="@item.contentName">
                                <img src="@item.contentThumbnail" alt="@item.contentName">
                            </a>
                            <div class="title">
                                <a href="@item.contentAlias" title="@item.contentName">
                                    @if (item.contentName.Length > 70)
                                    {
                                        @Html.Raw(item.contentName.Substring(0, 70) + "...")
                                    }
                                    else
                                    {
                                        @Html.Raw(item.contentName)
                                    }
                                </a>
                            </div>
                            <div class="decs">
                                @Html.Raw(item.contentDescription)
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}




