@{
    ViewBag.Title = "Home Page";
}
<div class="box">
    <div class="row">
        <div class="col-md-8">
            <div class="slider-main">
                @Html.Action("getSliderMain", "Home")
            </div>
        </div>
        <div class="col-md-4">
            <div class="slider-left">
                @Html.Action("getBox1", "Home")
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="row">
        <div class="col-md-4">
            <div class="banner1">
                <a href="#">
                    <img src="~/Content/banner1.png" alt="" />
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="kyniem60nam">
                <h2>kyû nieäm 60 naêm thaønh laäp</h2>
                <h3>tröôøng ñaïi hoïc theå duïc theå thao baéc ninh</h3>
                <div class="time">
                    <span>coøn </span><b>@ViewBag.DateCountDown</b><span> ngaøy</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="banner2">
                <h2>Chuû tòch hoà chí minh </h2>
                <h3> vôùi theå duïc theå thao vieät nam</h3>
                <div class="time">
                    <a href="#">
                        <img src="~/Content/banner2.png" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="row">
        <div class="col-md-9">
            <div class="box">
                <div class="title">
                    @Html.Action("getBoxTinTucChung", "Home")
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="title">
                    <h2><i class="fa fa-bell icon"></i><a href="thong-bao-moi">Thông báo mới</a></h2>
                    @Html.Action("getThongBao", "Home")
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="row">
        <div class="col-md-6">
            <div class="box ">
                <div class="title">
                    @Html.Action("getBoxTinTucNganh", "Home")
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="title">

                    @Html.Action("getBoxSachVaHocLieu", "Home")
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="title">
                    <h2><a href="#">Liên kết</a></h2>
                </div>
                @Html.Action("getBoxLienKet", "Home")
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="title">
                    @Html.Action("getBoxPhongSuAnh", "Home")
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="title">
                    @Html.Action("getBoxMedia", "Home")
                </div>
            </div>
        </div>
    </div>
</div>
